---
layout: page
title: Archive
permalink: /archive/
---

{% if site.posts != empty %}
  <ul class="clean-list">
    {% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% unless year == this_year %}
    {% assign year = this_year %}
    {% unless post == site.posts.first %}
    {% endunless %}
      <h2 id="{{ year }}">{{ year }}</h2>
    {% endunless %}
    <li>
      <span class="icon">{% include svg/calendar.svg %}</span>
      <time datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date:'%d %b' }}</time>
      <span class="icon">{% include svg/arrow-right.svg %}</span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <h2>Empty</h2>
{% endif %}
