---
layout: page
title: Categories
permalink: /categories/
---

{% if site.categories != empty %}

  <nav>
    {% for cat in site.categories %}
      <a class="button-light-blue" href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="tag"><span class="icon">{% include svg/file-directory.svg %}</span> {{ cat[0] }}</a>
    {% endfor %}
  </nav>

  {% for cat in site.categories reversed %}
  <ul class="clean-list">
    <h2 id="{{ cat[0] }}">{{ cat[0]}}</h2>
    {% for post in cat[1] %}
    <li>
      <span class="icon">{% include svg/calendar.svg %}</span>
      <time datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
      <span class="icon">{% include svg/arrow-right.svg %}</span>
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}"> {{ post.title }} </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

{% else %}
  <h2>Empty</h2>
{% endif %}
