---
layout: page
title: Tags
permalink: /tags/
---

{% if site.tags != empty %}

  <nav>
    {% for tag in site.tags %}
      <a class="button-light-blue" href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="tag"><span class="icon">{% include svg/tag.svg %}</span> {{ tag[0] }}</a>
    {% endfor %}
  </nav>

  {% for tag in site.tags reversed %}
  <ul class="clean-list">
    <h2  id="{{ tag[0] }}">{{ tag[0] }}</h2>
    {% for post in tag[1] %}
    <li>
      <span class="icon">{% include svg/calendar.svg %}</span>
      <time datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
      <span class="icon">{% include svg/arrow-right.svg %}</span>
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}"> {{ post.title }} </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

{% else %}
  <h2>Empty</h2>
{% endif %}
