<div class="container flex-row pagination">
  {% if paginator.previous_page %}
    <a class="previous button-light-blue" href="{{ paginator.previous_page_path | relative_url }}" title="Previous Page"><i class="fa fa-caret-left"></i> Prev</a>
  {% else %}
    <span class="previous button-empty" title="Previous Page"><i class="fa fa-caret-left"></i> Prev</span>
  {% endif %}

  <span class="button-empty">{{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a class="next button-light-blue" href="{{ paginator.next_page_path | relative_url }}" title="Next Page">Next <i class="fa fa-caret-right"></i></a>
  {% else %}
    <span class="next button-empty" title="Next Page">Next <i class="fa fa-caret-right"></i></span>
  {% endif %}
</div>
