<div class="container flex-row pagination">
  {% if page.previous.url %}
    <a class="button-light-blue previous" href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}"><i class="fa fa-caret-left"></i> {{ page.previous.title | truncate: 45 }}</a>
  {% else %}
    <span class="button-empty"><i class="fa fa-caret-left"></i> ...</span>
  {% endif %}

  {% if page.next.url %}
    <a class="button-light-blue next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">{{ page.next.title | truncate: 45 }} <i class="fa fa-caret-right"></i></a>
  {% else %}
    <span class="button-empty">... <i class="fa fa-caret-right"></i></span>
  {% endif %}
</div>
