// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/**
 * Layout - Home
 */
.home {
  justify-content: center;
  align-items: center;
}

/**
 * Layout - Home header
 */
.home-header {
  margin-bottom: 2rem;
}

/**
 * Layout - Home titles
 */
.home-title,
.home-subtitle {
  margin: 0;
  padding: 0;
}

/**
 * Layout - Home nav
 */
.home-nav {
  display: flex;
  align-items: baseline;
}

/**
 * Layout - Home links
 */
.home-link:nth-child(2) {
  padding: 1rem;
}

.home-link:not(:last-child) {
  margin-right: 0.75rem;
}
