---
layout: page
title: Categories
permalink: /blog/categories/
---

{% if site.categories != empty %}

  <nav>
    {% for cat in site.categories %}
      <a class="button-light-blue" href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="tag"><i class="fa fa-folder"></i> {{ cat[0] }}</a>
    {% endfor %}
  </nav>

  {% for cat in site.categories reversed %}
  <ul class="clean-list">
    <h2 id="{{ cat[0] }}">{{ cat[0]}}</h2>
    {% for post in cat[1] %}
    <li>
      <i class="fa fa-calendar"></i>
      <time datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
      <i class="fa fa-caret-right"></i>
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}"> {{ post.title }} </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

{% else %}
  <h2>Empty</h2>
{% endif %}
