<nav class="container">
  <ul class="clean-list social-list">
    <a class="button-white" href="#"><span class="icon">{% include svg/mark-github.svg %}</span></a>
    <a class="button-white" href="#"><span class="icon">{% include svg/social/twitter.svg %}</span></a>
    <a class="button-white" href="#"><span class="icon">{% include svg/social/codepen.svg %}</span></a>
    <a class="button-white" href="#"><span class="icon">{% include svg/social/linkedin.svg %}</span></a>
    <a class="button-white" href="#"><span class="icon">{% include svg/social/slack.svg %}</span></a>
  </ul>
</nav>
