// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------

/**
 * FA Icons
 */
.fa {
  padding: 0 0.25rem;
}

/**
 * Icon - Burguer
 */
.burguer {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;

  &:hover {
    cursor: pointer;
    transition: 0.3s;
  }

  @include media-query($on-laptop) {
    display: none;
  }
}

#menu-icon {
  display: none;

  &:checked ~ .aside {
    left: 0;
  }
}
