// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------

/**
 * Icons
 */
.icon {
  fill: currentColor;
  vertical-align: middle;
  margin-bottom: 0.10rem;
  width: 1em;
  height: 1em;
  line-height: 0;

  > svg {
    width: 1em;
    height: 1em;
  }
}

/**
 * Icon - Burguer
 */
.burguer {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;

  &:hover {
    cursor: pointer;
    transition: 0.3s;
  }

  @include media-query($on-laptop) {
    display: none;
  }
}

#menu-icon {
  display: none;

  &:checked ~ .aside {
    left: 0;
  }
}
