---
layout: default
---
<article class="container post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <span class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <span class="icon">{% include svg/calendar.svg %}</span>
        {{ page.date | date_to_string }}
      </time>
      {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        • <span class="icon">{% include svg/person.svg %}</span>
        <span itemprop="name">{{ page.author | escape }}</span>
      </span>
      {% elsif site.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        • <span class="icon">{% include svg/person.svg %}</span>
        <span itemprop="name">{{ site.author | escape }}</span>
      </span>
      {% endif %}
    </span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div>
  {% include pagination/posts.html %}

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</div>
