// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

/**
 * Layout
 */
html,
body,
section[name="home"] {
  height: 100%;
}

/**
 * Layout - 2 Columns
 */
.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;

  @include media-query($on-laptop) {
    width: 20%;
    left: 0;
  }
}

.main {
  min-height: 100%;

  @include media-query($on-laptop) {
    width: 80%;
    margin-left: 20%;
  }
}

/**
 * Layout - Sticky
 */
.main-content,
.blog,
.post {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.blog,
.post,
.post-header,
.pagination {
  margin-bottom: 1rem;
}

/**
 * Layout - Pagination
 */
.pagination {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.next {
  margin-left: 0.50rem;
}

.previous {
  margin-right: 0.50rem;
}

/**
 * Layout - Author
 */
.site-author,
.site-subtitle {
  display: block;
}

/**
 * Layout - Main nav
 */
.main-nav-a {
  display: block;
  padding: 0.50rem 0.25rem;
}

/**
 * Layout - Posts
 */
.post,
.blog {
  margin-top: 1.75rem;
}

.post-title {
  margin-bottom: 0;
}

/**
 * Layout - Search
 */
#search-input {
  padding: 0.50rem;
}
