// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $comp-theme;
    text-decoration: underline;
  }
}

/**
 * Lists
 */
ul, ol {
  margin-left: 0.50rem;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 85%;
}

/**
 * Blockquotes
 */
blockquote {
  color: $brand-color;
  border-left: 5px solid $brand-color;
  padding-left: 0.50rem;
  font-size: 85%;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 85%;
  border: 1px solid $brand-color;
  border-radius: 5px;
  font-family: $code-font-stack;
  background: #eef;
  vertical-align: middle;
}

code {
  padding: 0.0625rem 0.3125rem;
}

pre {
  padding: 0.50rem 0.75rem;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Svgs
 */
svg {
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}
