// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Base - Lists
 */
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Base - Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Base - Images
 */
figcaption {
  padding: 0.50rem;
}

figure > img {
  display: block;
}

/**
 * Base - Blockquotes
 */
blockquote {
  padding-left: 0.50rem;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Base - Code formatting
 */
pre,
code {
  vertical-align: middle;
}

code {
  padding: 0.0625rem 0.3125rem;
}

pre {
  padding: 0.50rem 0.75rem;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Base - Horizontal Rule
 */
hr {
  border: none;
  padding: 1px;
}
